<ol class="news-feed">
    <li class="news-item" ng-repeat="news in vm.lastNews | orderBy:'created_at': true">
        <div ng-if="!news.type">
            <img class="pull-left author-avatar img-circle" ng-src="{{ news.user.profile_image_url }}" alt="{{ news.title }}" width="48">
            <div class="caption">
              <h4 class="author-name">{{ news.user.name }}</h4>
              <p>
                {{ news.text }}
                <span class="time-lapse">
                    {{ news.relative_time }}
                </span>
              </p>
            </div>
        </div>

        <div ng-if="news.type">
            <div class="caption">
                <h4 class="author-name">You</h4>
                <p>
                    {{ news.text }}
                    <span class="time-lapse">
                        {{ news.relative_time }}
                    </span>
                </p>
            </div>
        </div>
    </li>
</ol>